<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
      <h1>{{currentTime}}</h1>
      <h1>{{currentTimeBrut}}</h1>
      <h1>{{lessFiveMinutesTimeBrut}}</h1>
  </div>
</header>
<!--tmp spaces-->
<br><br><br>
---<br>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">
        <div ng-repeat="m in meds">
            {{m.time|date:'medium'}} {{m.name}} {{m.dosage}} <a ng-if="!m.completed" ng-click="completeMedication(m)">Completed</a>
            <span ng-if="!m.completed && (m.time|date:'yyyyMMddHH')<lessFiveMinutesTimeBrut"> delay</span>
        </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
      <p>© 2016 Mavencare™, made with <span class="glyphicon glyphicon-heart heart-red"></span> for better healthcare.</p>
  </div>
</footer>
